#static_banner{
	width: 100%;
	height: 400px;
	background-image: url('img/Otro.jpg'); 
	margin-top:92px;
	background-repeat: no-repeat;
	background-size: 100% 100%;

}

.anchor{
	height: 50px;
}

#ANTEC{
background-image: url('img/ANTEC.jpg');
background-size: 100% 100%;
background-color: transparent;

}
.ANPrinc{
	    padding: inherit;
    padding-top: 4em;
}
#Promo1 img,#Promo2 img, .ANPrinc img{
	width: 100%;
	height: 100%;
}
img._small{
width: 100%;
height: 100%;
}

